*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.aside{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.6fr 1fr;
}

.section{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: 1fr;
    /* column-gap: 2%; */
}

.text{
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.tx1{
    width: 70%;
    justify-self: end;
    margin: 10% 0 25% 20%;
}

.tx2{
    width: 85%;
    justify-self: center;
    margin: 17% 0 27% 0;
}

.tx3{
    width: 70%;
    justify-self: start;
    margin: 17% 20% 17% 0;
}

.stars{
    background-color: hsl(300, 24%, 96%);
    width: 60%;
    height: 35%;
}

.st1{
    
    align-self: end;
}

.st2{
    
    align-self: center;
    height: 55%;
}

.st3{
    
    align-items: start;
}