*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    font-family: 'League Spartan', sans-serif;
    color: hsl(300, 43%, 22%);
}

h1{
    font-size: 3em;
    font-weight: 700;
    width: 50%;
    margin: 20% 0 0 20%;
}

.hp{
    font-size: 1.1em;
    width: 60%;
    margin: 5% 0 0 20%;
    line-height: 1.3em;
}

.aside{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.6fr;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 1.2em;
}

.stars{
    background-color: hsl(300, 24%, 96%);
    width: 60%;
    border-radius: 10px;
    font-family: 'League Spartan', sans-serif;
}

.st1{
    align-self: end;
    height: 28%;
}

.st2{
    align-self: center;
    height: 55%;
    margin-left: 8%;
}

.st3{
    align-items: start;
    height: 45%;
    margin-left: 18%;
}

.aside div{
    
}
.aside img{
    
}

.section{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: 1fr;
    /* column-gap: 2%; */
}

.text{
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    font-family: 'League Spartan', sans-serif;
}

.tx1{
    width: 70%;
    justify-self: end;
    margin: 10% 0 25% 20%;
}

.tx2{
    width: 85%;
    justify-self: center;
    margin: 17% 0 27% 0;
}

.tx3{
    width: 70%;
    justify-self: start;
    margin: 17% 20% 17% 0;
}

